body {
    margin: 0;
    padding: 0;
    background-color: #C4DFE6;
    font-size: 16px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 1000px;
}

input {
    border: none;
    padding: 4px;
    max-width: 18em;
    background-color: #C4DFE6;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #063852;
    color: white;
    padding: 1em;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #063852;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 14px;
}

.center {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    background-color: #609ebc;
    padding: 5em 5px;
    font-size: 18px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 5em 5px;
    font-size: 16px;
}

.main {
    padding-top: 5em;
}

.main input, select {
    font-size: 16px;
    background-color: #C4DFE6;
    border: none;
    font-family: Arial, sans-serif;
}

.login, .signup, .error {
    background-color: #73b2d0;
    padding: 10px 15px;
    margin: 10px;
}

.center input {
    font-size: 18px;
    margin: 5px;
}

form.inline {
    display: inline;
}

.table {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

div.table > div {
    display: flex;
    align-items: center;
}

.rounded {
    border-radius: 5px;
    padding: 5px;
}

.comment {
    font-style: italic;
    min-height: 15px;
    padding-right: 20px;
    text-align: right;
}

div.warning {
    color: #AD1F1F;
}

div.confirmation {
    color: #1B7502;
}

input.warning {
    border: solid 2px #AD1F1F;
}

input.confirmation {
    border: none;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

div.right {
    margin: 0 30px;
    display: inline-block;
    float: right;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.description {
    min-width: 40%;
}

.date {
    min-width: 10%;
}

.narrow {
    min-width: 5%;
}

.content {
    border-bottom: 1px solid dimgray;
    height: 1.9em;
}

.navigation, .addition {
    background-color: #73b2d0;
    border-radius: 5px;
    padding: 5px 8px;
}

.page {
    display: inline-block;
    width: 2em;
    text-align: center;
}

.page:hover {
    border: 2px solid #063852;
    border-radius: 5px;
    margin: -2px;
}

.navigation input {
    background-color: transparent;
}

span.current {
    background-color: #063852;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.4em 0.6em;

}

#add {
    background-color: #1B7502;
    color: white;
    border-radius: 5px;
}

.entry {
    height: 1.4em;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}

@media print {
    span.current {
        border: darkgrey 3px solid;
    }

    .navigation, .addition, .entry {
        border: darkgrey 1px solid;
    }

    .header {
        border: darkgrey 2px solid;
        width: 95%;
    }
}